/* src/components/ProductCarousel.css */

.products {
  padding: 2rem 3rem;
}

.products__title {
  font-family: 'LeagueSpartan-Bold';
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__arrow {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products__arrow img {
  width: 2.2rem;
  height: auto;
}

.products__arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.products__carousel {
  position: relative;
  overflow: hidden; /* Oculta contenido que se desborda */
  width: 100%;
}

.products__list {
  display: flex;
  gap: 1.6rem;
  overflow-x: auto;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  scroll-behavior: smooth;
  transition: transform 0.3s ease;
}

/* Barra de desplazamiento en navegadores WebKit */
.products__list::-webkit-scrollbar {
  display: none;
}

/* Flechas de navegación*/
.products__arrow-left,
.products__arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-secondary);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  color: var(--color-white); /* Color del icono */
  opacity: 0.8;
  transition: opacity 0.3s ease, transform 0.2s ease-in-out;
}

.products__arrow-left {
  left: 10px;
}

.products__arrow-right {
  right: 10px;
}

/* Estilo de los iconos dentro de las flechas de navegación */
.products__arrow-left img,
.products__arrow-right img {
  width: 20px;
  height: auto;
  filter: brightness(0) invert(1);
}

/* Efecto hover para las flechas de navegación */
.products__arrow-left:hover,
.products__arrow-right:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}

/* Estilo para flechas deshabilitadas */
.products__arrow-left:disabled,
.products__arrow-right:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  transform: translateY(-50%) scale(1);
}