/* src/assets/styles/fonts.css */

@font-face {
    font-family: 'LeagueSpartan-Bold';
    src: url('../fonts/LeagueSpartan-Bold.ttf');
}

@font-face {
    font-family: 'NationalPark-Bold';
    src: url('../fonts/NationalPark-Bold.ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'AlexBrush-Regular';
    src: url('../fonts/AlexBrush-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.ttf');
}

